.navbar{
  padding: 15px;
  display: flex;
}
.text-logo{
  font-size: 3.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.753);
  text-decoration: none;
}
.nav-link{
  font-size: 1.5rem;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.753);
}
.nav-link:hover{
  background-color: #d9534f;
  color: white;
  padding: .5rem 2rem;
  border-radius: 10px;
}
.hero-section {
  background-color: rgba(217, 84, 79, 0.103);
  padding: 3rem 0;
}

.hero-container {
  margin-bottom: 2rem;
}

.hero {
  display:flex;
  flex-basis: 100%;
  padding: 1.5rem 0;
}

.hero-left h3{
  font-weight: 700;
}

.hero-left h2{
margin-bottom: 3rem;}

.hero-left h3 span{
  color: #d9534f;
}

.hero-left p{
font-size: 1.5rem;
line-height: 40px;
margin-bottom: 3rem;
}

.hero-container img{
width: 80%;
margin-left: 3rem;
}

.project-section {
  padding: 3rem 0 ;
}
.btn-projects,
.btn-contact-info{
  padding: 10px 25px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #d9534f;
  border: none;
  color: white;
  text-decoration: none;
}
.btn-contact-info{
  margin-left: 10px;
}

.nav-ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}

.contact-btn-modal {
  margin: 5rem 0;
  padding: 10px 20px;
  font-size: 2rem;
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  border: none;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.89);
  z-index: 1000;
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content{
  background-color: white;
  width: 60%;
  max-width: 70%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 0px rgba(0,0,0,.4);
  overflow: auto;
}

.modal-content h3 {
  text-align: center;
  margin-bottom: 1rem ;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 5px;
  }

  .modal-close:hover {
    background-color: #d9534f;
    color: white;
    border: none;
  }

.card img:hover {
  transform: scale(1.1);
  transition: transform 2s, filter 1.5s ease-in-out;
} 

.card-body{
  background-color: rgba(217, 84, 79, 0.103);
}
.card-body a {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  padding: .4rem;
  margin-bottom: .5rem;
}
.card-body a:hover{
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  transition: 0.4s ease-in-out;;
}

.card-title{
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 1.2rem;
  padding-top: .5rem;
}
.card-text{
  color: black;
  font-size: 1.3rem;
  line-height: 35px;
}

.fa-linkedin-in, 
.fa-facebook-f,
.fa-instagram
{
  background-color: #d9534f;
  font-size: 1.5rem;
  padding: 10px;
  color: white;
  border-radius: 50%;
}

@media(max-width: 580px){
  .hero-section, .project-section {
    padding: .5rem 1.3rem;
  }
}